
@import url(../css/fonts.css);

/* 
---------------------------------------------------------------------
    Themes
---------------------------------------------------------------------
*/
:root {
    /* Light theme colors */
    --navbar-color-light: rgb(43, 45, 66);
    --background-color-light: rgb(141, 153, 174);
    --text-color-light: #000000;
    --link-color-light: #0066CC;
    --container-color-light: rgb(237, 242, 244);
    --footer-color-light: rgb(217, 4, 41);
  
    /* Dark theme colors */
    --navbar-color-dark: #1B1A55;
    --background-color-dark: #1B1A55;
    --text-color-dark: #FFFFFF;
    --link-color-dark: #6ECAF2;
    --container-color-dark: #535C91;
    --footer-color-dark: #9290C3;

    /* The default theme */ 
    --navbar-color: var(--navbar-color-light); 
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --link-color: var(--link-color-light);
    --container-color: var(--container-color-light);
    --footer-color: var(--footer-color-light);
  
  }

  [data-theme='light'] {
    --navbar-color: var(--navbar-color-light);
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --link-color: var(--link-color-light);
    --container-color: var(--container-color-light);
    --footer-color: var(--footer-color-light);
  }
  
  /* Dark theme */
  [data-theme='dark'] {
    --navbar-color: var(--navbar-color-dark);
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --link-color: var(--link-color-dark);
    --container-color: var(--container-color-dark);
    --footer-color: var(--footer-color-dark);
  }
/* 
---------------------------------------------------------------------
    Global styles
---------------------------------------------------------------------
*/
*{box-sizing: border-box;}

html{
    -ms-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-block: 10px;
    font: optional;
}

p {
    font-family:sans-serif;
    margin-block: 5px;
    line-height: 1.2;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

a {
    color: var(--link-color);
}
/* 
----------------------------------------------------------------------------------------
Styles for the part with the conent
----------------------------------------------------------------------------------------
 */

hr{
    border:0;
    border-top:2px solid #eb4f4f;
    margin-block: 5px;
    width: 90%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 5px;
    padding: .01em 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    top: 0;
    
}

.container-mid {
    padding: .01em 16px;
    background: var(--container-color);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    word-wrap: break-word;
    top: 0;
    font-style: oblique; 
    backdrop-filter: .3;
    margin-block-end: 10px;
}

.container-mid .top {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 10px;
    gap: 4px;
    position: relative;
}

.container-mid .top .info {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 20px;
}

.container-mid .top img {
    border-radius: 50%;
}

.details p {
    text-align: left;
    margin-block: 10px;
    font-size: 110%;
    margin-inline: 0;
}


.profile img {
    border-radius: 50%;
}

.images {
    display: flex;
    align-items: center;
    padding: auto;
    gap: 5px;
}

.images img {
    border-radius: 5px;
}

/*
------------------------------------------------------------------------------------------------------
The styles for the buttons 
------------------------------------------------------------------------------------------------------
*/

.modal {
    width: 100vw;
    height: 100vh;
    background: rgba(12, 12, 12, 0.7);
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: hidden;
}

.modal.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.modal-box {
    background: var(--container-color, #fff);
    height: 40vh;
    width: 80vw;
    border: none;
    border-radius: 10px;
    z-index: 3;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-50px);
    opacity: 1;
}

.modal.active .modal-box {
    transform: translateY(0);
    opacity: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header .title {
    font-size: 1.5em;
    color: var(--text-color, #333);
}

.modal-header .close button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--text-color, #333);
}

.modal-body {
    height: 50%;
    padding: 10px 0;
    border-top: solid var(--border-color, #ccc) 1px;
    border-bottom: solid var(--border-color, #ccc) 1px;
    color: var(--text-color, #333);
    font-size: 1em;
}

.modal-footer {
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* .modal-footer button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--button-background, #007BFF);
    color: #fff;
    transition: background 0.3s ease-in-out;
}

.modal-footer button:hover {
    background: var(--button-background-hover, #0056b3);
} */

@media screen and (min-width: 568px) {
    .modal-box {
        width: 50vw;
        height: 45vh;
    }
}


/*
------------------------------------------------------------------------------------------------------
The styles for the buttons 
------------------------------------------------------------------------------------------------------
*/
.btn {
    --btn-background: rgb(43, 45, 66);
    --btn-text-color: #fff;
    background: var(--btn-background);
    color: var(--btn-text-color);
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    font-size: 100%;
    font-weight: 545;
    margin-inline: 5px;
    margin-block: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    border-color: rgba(0, 0, 255, 0.5);
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.btn:active {
    opacity: .7;
}
/* 
.btn-blue {
    --btn-background: #1558e9;
    --btn-text-color: #ffffff;    
}

.btn-blue:hover {
    --btn-background: #2494cc;
    --btn-text-color: #fff;
}

.btn-red {
    --btn-background: #cc1c10;
    --btn-text-color: #ffffff;
}

.btn-red:hover {
    --btn-background: #e72923;
    --btn-text-color: #fff;
}

.btn-orange {
    --btn-background: #c45e0b;
    --btn-text-color: #ffffff;
}

.btn-orange:hover {
    --btn-background: #e66f0e;
    --btn-text-color: #fff;
}

.btn-green {
    --btn-background: rgb(4, 145, 4);
    --btn-text-color: white;
}

.btn-green:hover {
    --btn-background: rgb(16, 212, 16);
    --btn-text-color: white;
}

.btn-purple {
    --btn-background: rgb(141, 5, 141);
    --btn-text-color: white;
}

.btn-purple:hover {
    --btn-background: rgb(173, 14, 173);
    --btn-text-color: white; 
}*/

/*
------------------------------------------------------------------------------------------------------
The styles for the carousel 
------------------------------------------------------------------------------------------------------
*/
/* Slideshow container */
.carousel {
    display: none;
    max-width: 1100px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .slide {
      display: none;
  }

  .carousel a {
    text-decoration: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .dot-box {
    text-align: center;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
    

/*
------------------------------------------------------------------------------------------------------
The styles for the forms 
------------------------------------------------------------------------------------------------------
*/
form {
    width: 100%;
    padding: 10px;
    margin-block: 10px;
}

form textarea {
    display: block;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    color: black;
    padding-inline-start: 5px;
    margin-block: 5px;
}
.form-input {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: black;
    margin-block: 5px;

}

.container input:focus {
    border-color: rgba(0, 0, 255, 0.5); /* Adjust color and transparency as needed */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Glow effect with box-shadow */
}

form label {
    font-weight: 550;
    margin-block: 6px;
    display: block;
    font-family: sans-serif;
}

form a {
    text-decoration: none;
}

.show-pass {
    position: relative;
}

.show-pass button {
    position: absolute;
    top: 3px !important;
    right: 16px !important;
    padding: 0;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
}

@media screen and (min-width:650px) {
    .row-forms {
        display: grid;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }
    
}

/*
------------------------------------------------------------------------------------------------------
The styles for the footer of the main body 
------------------------------------------------------------------------------------------------------
*/
footer {
    background-color: var(--footer-color);
    padding-top: 2px;
    border-radius: 20px 20px 0 0;
}

footer h4 {
    font-size: 25px;
    margin-block: 5px;
    
}

footer textarea {
    display: block;
    height: 70px;
    width: 100%;
    border-radius: 5px;
    color: black;
    padding-inline-start: 5px;
    margin-block: 5px;
}

@media screen and (min-width: 650px) {
    footer {
        display: flex;
        align-items: start;
        gap: 0; 
           
    }
    
}
